body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

div {
    width: 100%;
    height: 100%;
}

textarea {
    height: 25vh;
    width: 100%;
    margin: 0;
    background-color: darkblue;
}

canvas {
    width: 100%;
    height: 75vh;
    display: block;
}